/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5865f2;
  --ifm-color-primary-dark: #4f5be0;
  --ifm-color-primary-darker: #4954d3;
  --ifm-color-primary-darkest: #3b45b4;
  --ifm-color-primary-light: #6c75f4;
  --ifm-color-primary-lighter: #7881f6;
  --ifm-color-primary-lightest: #8b90f8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.06);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8b9cf8;
  --ifm-color-primary-dark: #7f90f0;
  --ifm-color-primary-darker: #7788ea;
  --ifm-color-primary-darkest: #6576d1;
  --ifm-color-primary-light: #9aa9fa;
  --ifm-color-primary-lighter: #a6b3fb;
  --ifm-color-primary-lightest: #b9c3fd;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.06);
}
